@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

html,
body {
  /* background-color: rebeccapurple; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
