@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.container {
  width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 5px solid blue;
}
/* ini adalah main yang ada di dalam container. sejajar dengan sidebar */
.main {
  width: 700px;
  margin-left: 115px;
  margin-top: 91px;
  border: 5px solid black;
}

.main h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0, 45px;
  color: #1e0e62;
}

.main p {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #1e0e62;
}

.main h5 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}

.main .p1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  color: #15143966;
}

/* harusnya di sini gambar */

.main .p2 {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #15143966;
}

.main .p3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #15143966;
}

.main .p4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #15143966;
}

.main .p5 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #15143966;
}
/* akhir dari main */

/* ini adalah sidebar-kanan yang ada di dalam container */

.sidebar-kanan {
  width: 378px;
  border: 6px solid red;
  margin-top: 94px;
}
/* ini adalah sidebar yang pertama yang ada di dalam sidebar kanan yang ada di dalam container */
.sidebar-kanan .pertama {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "gambar artikel"
    "gambar tulisan";
}

.sidebar-kanan .pertama img {
  grid-area: gambar;
}

.sidebar-kanan .pertama article {
  grid-area: artikel;
}
.sidebar-kanan .pertama p {
  margin-top: -20px;
  grid-area: tulisan;
}
/* ini adalah sidebar kanan yang pertama */

/* ini adalah sidebar-kanan yang kedua. yang ada di dalam sidebar kanan yang ada di dalam container */

.sidebar-kanan .kedua {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "gambar artikel"
    "gambar tulisan";
}
.sidebar-kanan .kedua img {
  grid-area: gambar;
}

.sidebar-kanan .kedua article {
  grid-area: artikel;
}
.sidebar-kanan .kedua p {
  grid-area: tulisan;
  margin-top: -20px;
}

/* ini adalah sidebar kanan yang ketiga yang ada i dalam sidebar kanan yang ada di container */

.sidebar-kanan .ketiga {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "gambar artikel"
    "gambar tulisan";
}
.sidebar-kanan .ketiga img {
  grid-area: gambar;
}

.sidebar-kanan .ketiga article {
  grid-area: artikel;
}
.sidebar-kanan .ketiga p {
  grid-area: tulisan;
  margin-top: -20px;
}

/* ini adalah sidebar kanan yang ke empat yang ada di dalam sidebar kanan yang ada di container */

.sidebar-kanan .keempat {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "gambar artikel"
    "gambar tulisan";
}
.sidebar-kanan .keempat img {
  grid-area: gambar;
}

.sidebar-kanan .keempat article {
  grid-area: artikel;
}
.sidebar-kanan .keempat p {
  grid-area: tulisan;
  margin-top: -20px;
}

/* ini adalah sidebar kanan yang kelima yang ada di dalam sidebar kanan yang ada di dalam container */

.sidebar-kanan .kelima {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "gambar artikel"
    "gambar tulisan";
}
.sidebar-kanan .kelima img {
  grid-area: gambar;
}

.sidebar-kanan .kelima article {
  grid-area: artikel;
}
.sidebar-kanan .kelima p {
  grid-area: tulisan;
  margin-top: -20px;
}
