* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #2f1893;
}
.wrapper {
  width: 780px;
  margin: auto;
  /* border: 5px solid red; */
}
.tulisan h2 {
  text-align: left;
  color: white;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  letter-spacing: -1px;
  font-family: "DM Sans", sans-serif;
}

.tulisan p {
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
  color: white;
}

.profil {
  width: 388px;
  height: 100px;
  /* border: 5px solid black; */
  margin-top: 100px;
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-areas:
    "profil tulisan"
    "profil tulisan-bawah"
    "profil logo";
}

.profil img {
  width: 100px;
  height: 100px;
  grid-area: profil;
}

.profil h3 {
  grid-area: tulisan;
}

.profil p {
  grid-area: tulisan-bawah;
  margin-top: -10px;
}

.logo {
  grid-area: logo;
  display: flex;
  gap: 20px;
}

.logo .twitter img {
  width: 14px;
  height: 24px;
  margin-left: 10px;
}

.logo .facebook img {
  width: 14px;
  height: 24px;
}

.logo .dribble img {
  width: 14px;
  height: 24px;
}

.logo .instagram img {
  width: 14px;
  height: 24px;
}

/* akhir dari header */

/* awal dari main */

.main-menu {
  width: 770px;
  margin: auto;
  /* border: 5px solid red; */
}

.main-menu h1 {
  margin-bottom: 90px;
  margin-top: 50px;
}

.main-menu h5 {
  font-family: "DM Sans", sans-serif;
  margin-top: 90px;
  margin-bottom: 20px;
}

.garis-pertama {
  display: flex;
}

.garis-kedua {
  display: flex;
  margin-bottom: 90px;
}

.garis img {
  margin-right: 10px;
}

/* akhir dari main */
